@media print, screen and (min-width: 769px) {
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
}

.container {
    max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

}

.top-wrapper {
    padding: 250px 0 150px 0;
  background-image: url(topga_hirosezemi.jpg);
  background-size: cover;
  color:white;
  text-align: center;
}

.top-wrapper h1 {
  opacity:1;
  font-size: 55px;
  letter-spacing: 5px;
}
.top-wrapper h2{
  opacity:0.99;
}
.top-wrapper p {
  opacity: 0.99;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top:0;
  z-index: 10;
}

.header-left a{
  line-height: 65px;
  padding: 0 25px;
  color:white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a{
  line-height: 65px;
  padding: 0 25px;
  color:white;
  display: block;
  float: left;
  transition: all 0.5s;
}

header a:hover {
  background-color: rgba(255,255, 255, 0.3);
}

.salutation{
  color:#5f5d60;
  margin-top:50px;
  }

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
.contact-form {
  padding-top: 100px;
  color:#5f5d60;
}

.about{
  margin-top:50px;
  color: #5f5d60;
}


table th{
  padding:0 10px;
}
footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

}
